<div class="login-box">
  <h3>Login</h3>
  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <label>Username:</label>
    <input
      type="text"
      placeholder="Enter username"
      [(ngModel)]="username"
      name="username"
      required
    />
    <label>Password:</label>
    <input
      type="password"
      placeholder="Enter password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
    <button type="submit">Login</button>
  </form>
</div>
